<?xml version="1.0" encoding="utf-8" ?>
<siteSettings>
  <add key="demo" name="DemoSite" url="http://baidu.com" isCurrent="true" isClassicCba="false" connection="Server=localhost;Database=DbContextScopeDemo;Trusted_Connection=true;" />
  <add key="bak" name="BackupSite" url="http://google.com" isCurrent="false" isClassicCba="true" connection="Server=localhost;Database=DbContextScopeDemo_bak;Trusted_Connection=true;" />
</siteSettings>